# ==== GCP ====
GCP_PROJECT_ID=tech-challenge-alfabetizacao
GCP_REGION=southamerica-east1
GCS_BUCKET_RAW=alfabetizacao-bronze
GCS_BUCKET_SILVER=alfabetizacao-silver
GCS_BUCKET_GOLD=alfabetizacao-gold
BIGQUERY_DATASET=alfabetizacao_gold

# ==== Base dos Dados ====
BD_BILLING_PROJECT_ID=tech-challenge-alfabetizacao

# ==== Pub/Sub (streaming) ====
PUBSUB_TOPIC=indicadores-alfabetizacao-eventos
PUBSUB_SUBSCRIPTION=indicadores-alfabetizacao-sub

# ==== Autenticação do Spark com o GCS (conta de serviço) ====
GCP_SERVICE_ACCOUNT_KEY=/caminho/absoluto/para/gcp-spark-key.json
